[bumpversion]
current_version = 1.26.2-0.1
commit = True
tag = False
parse = (?P<upstrMajor>\d+)\.(?P<upstrMinor>\d+)\.(?P<upstrPatch>\d+)-(?P<minor>\d+)(\.(?P<patch>\d+))?
serialize = 
	{upstrMajor}.{upstrMinor}.{upstrPatch}-{minor}.{patch}
	{upstrMajor}.{upstrMinor}.{upstrPatch}-{minor}
message = kafka-connect: {current_version} → {new_version}

[bumpversion:file:.env]
search = GO_VERSION={current_version}
replace = GO_VERSION={new_version}
serialize = {upstrMajor}.{upstrMinor}.{upstrPatch}

[bumpversion:file:./.env]
search = BUILD={current_version}
replace = BUILD={new_version}
serialize = 
	{minor}.{patch}
	{minor}

[bumpversion:file:../.env]
search = GO_VERSION={current_version}
replace = GO_VERSION={new_version}
serialize = {upstrMajor}.{upstrMinor}.{upstrPatch}

[bumpversion:file:./../.env]
search = BUILD={current_version}
replace = BUILD={new_version}
serialize = 
	{minor}.{patch}
	{minor}
